<ion-tabs>
  <ion-tab-bar slot="bottom" [class.gizli]="isAdminRoute">
    <ion-tab-button tab="map" href="/tabs/map" *ngIf="!isAdmin">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>Harita</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="araclar" href="/tabs/araclar" *ngIf="!isAdmin">
      <ion-icon name="car-outline"></ion-icon>
      <ion-label>Araçlar</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="kiralamalarim" href="/tabs/kiralamalarim" *ngIf="!isAdmin">
      <ion-icon name="key-outline"></ion-icon>
      <ion-label>Kiralamalarım</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profil" href="/tabs/profil">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="admin" href="/tabs/admin" *ngIf="isAdmin">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Admin</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
