<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div style="text-align: center; padding: 40px 0;">
    <ion-avatar style="width: 80px; height: 80px; margin: 0 auto 16px;">
      <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <h2>{{ email }}</h2>
    <p>{{ rol }}</p>
  </div>

  <ion-list>
    <ion-item>
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-label>
        <p>E-posta</p>
        <h3>{{ email }}</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="shield-outline" slot="start"></ion-icon>
      <ion-label>
        <p>Rol</p>
        <h3>{{ rol }}</h3>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-button expand="block" color="danger" (click)="cikisYap()" class="ion-margin-top">
    Çıkış Yap
  </ion-button>
</ion-content>